
body {
    margin: 0;
    padding: 0;
    height: 800vh;
}

#image-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

#image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(55px);
    transition: filter 0.5s ease;
}

.sound-button {
    position: fixed;
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 999;
}

/* .next{
    position: fixed;
    background-color: white;
    border: 0;
    margin: 0;
    padding: 0;
    bottom: 20px;
    right: 20px;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 999;
} */

.next-container{
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 700vh;
}

.link{
    bottom: 120px;
    right: 300px;
    position: absolute;
}

.next {
    display: inline-block;
    border-radius: 4px;
    background-color: #FFFFFF;
    /* background-color: #f4511e; */
    border: none;
    color: black;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 290px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    position: absolute;
    /* bottom: 50px;
    right: 50px; */
  }
  
  .next span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  }
  
  .next span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .next:hover span {
    padding-right: 25px;
  }
  
  .next:hover span:after {
    opacity: 1;
    right: 0;
  }


.block-right{
    position: absolute;
    width: 300px;
    height: 75px;
    size: 40px;
    font-size: 40px;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-left: 55%;
    margin-right: 50%;
}

.block-left{
    position: absolute;
    width: 500px;
    height: 75px;
    size: 40px;
    font-size: 40px;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-left: 5%;
}
